<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean class="com.mybatistest.controller.day4.PaperA4" id="a4"/>
    <bean class="com.mybatistest.controller.day4.ColorInk" id="colorInk"/>
    <bean class="com.mybatistest.controller.day4.PaperB5" id="b5"/>
    <bean class="com.mybatistest.controller.day4.BlackInk" id="blackInk"/>
    <!--两个打印机-->
    <bean id="print1" class="com.mybatistest.controller.day4.Print">
        <property name="paper" ref="a4"/>
        <property name="ink" ref="colorInk"/>
    </bean>

    <bean id="print2" class="com.mybatistest.controller.day4.Print">
        <property name="paper" ref="b5"/>
        <property name="ink" ref="blackInk"/>
    </bean>

    <!--<bean class="com.mybatistest.controller.day4.AOP.userDao" id="userDao"/>
    <bean class="com.mybatistest.controller.day4.AOP.userService" id="userService "/>-->

    <bean id="conversation1" class="com.mybatistest.controller.day4.mission.Conversation">
        <property name="man" value="张嘎"/>
        <property name="statement" value="三天不打小鬼子，手都痒痒！"/>
    </bean>
    <bean id="conversation2" class="com.mybatistest.controller.day4.mission.Conversation">
        <property name="man" value="Rod"/>
        <property name="statement" value="世界上有10种人，认识二进制的和不认识二进制的。"/>
    </bean>

    <bean id="myAspect" class="com.mybatistest.controller.day4.AOP.UserLoggerAop"/>
    <bean id="user" class="com.mybatistest.controller.day4.AOP.userDao"/>
    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:pointcut id="myPointcut" expression="execution(* com.mybatistest.controller.day4.AOP.*.*(..))"/>
            <aop:before method="before" pointcut-ref="myPointcut"/>
            <aop:after method="after" pointcut-ref="myPointcut"/>
        </aop:aspect>
    </aop:config>
</beans>