<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--default-autowire="byName"--><!--默认自动byName装配，useless-->
    <!--资源及配置文件配置-->
    <import resource="spring-oldBeans.xml"/>
    <context:property-placeholder location="classpath:smbmsdb.properties" ignore-unresolvable="true"/>

    <!--day4-->
    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:pointcut id="myPointcut" expression="execution(* com.mybatistest.controller.day4.AOP.*.*(..))"/>
            <aop:before method="before" pointcut-ref="myPointcut"/>
            <aop:after method="after" pointcut-ref="myPointcut"/>
        </aop:aspect>
    </aop:config>
    <!--day4-->

    <!--day5 test 4, 5, 6-->
    <context:component-scan base-package="com.mybatistest.controller.day5.user"/>
    <aop:aspectj-autoproxy/>
    <!--day5-->

    <!--day6-->
    <bean id="dateSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${dri}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${usn}"/>
        <property name="password" value="${pwd}"/>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dateSource"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:xml/*</value>
            </list>
        </property>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mybatistest.dao"/>
    </bean>
    <context:component-scan base-package="com.mybatistest.service"/>
    <context:component-scan base-package="com.mybatistest.dao"/>

    <!--事务管理-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="txManager">
        <property name="dataSource" ref="dateSource"/>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" timeout="1" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="allServiceImplMethod" expression="execution(* com.mybatistest.service.impl..*(..))"/>
        <aop:advisor pointcut-ref="allServiceImplMethod" advice-ref="txAdvice" />
    </aop:config>
    <!--day6-->

    <!--day7-->
    <!--JNDI, useless-->
    <!--<bean id="dateSourceJNDI" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName">
            <value>java:comp/env/jdbc/smbms</value>
        </property>
    </bean>-->
    <!--自动装配，useless(已有注解自动装配）-->
    <!--<bean id="providerService" class="com.mybatistest.service.impl.ProviderServiceImpl" autowire="byName" />-->
    <!--day7-->

    <!--MapperFactoryBean-->
    <bean id="um2" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.mybatistest.dao.UserMapper"/>
        <property name="sqlSessionFactory" ref="sqlSession"/>
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSession" />
    </bean>

</beans>